@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("./styles/colors.css");
@import url("./styles/spacing.css");
@import url("./styles/typography.css");
@import url("./styles/layouts.css");
@import url("./styles/utils.css");
@import url("./styles/Components/Buttons.css");
@import url("./styles/Components/Forms.css");
@import url("./styles/Components/Badges-Labels.css");

/* Root Variables */
:root {
  /* Primary Colors */
  --primary-900: #89123e;
  --primary-600: #e31853;
  --primary-300: #fea3b4;
  --primary-100: #ffe4e8;

  /* Blue Colors */
  --blue-900: #194185;
  --blue-600: #1570ef;
  --blue-300: #84caff;
  --blue-100: #d1e9ff;

  /* Purple Colors */
  --purple-900: #3e1c96;
  --purple-600: #6938ef;
  --purple-300: #bdb4fe;
  --purple-100: #ebe9fe;

  /* Warning Colors */
  --warning-900: #7e2410;
  --warning-600: #ec4a0a;
  --warning-300: #feb173;
  --warning-100: #ffead5;

  /* Danger Colors */
  --danger-text: #b42318;
  --danger-main: #d92d20;
  --danger-border: #f6cac7;
  --danger-bg: #fef3f2;

  /* Success Colors */
  --success-text: #027a48;
  --success-main: #039855;
  --success-border: #c0e5dd;
  --success-bg: #ecfdf3;

  /* Neutral Colors */
  --neutral-heading: #181d27;
  --neutral-subhead: #535862;
  --neutral-inactive: #a4a7ae;
  --neutral-icon: #d5d7da;
  --neutral-divider: #e9eaeb;
  --neutral-bg: #f5f5f5;
  --neutral-bg-alt: #ffffff;

  /* Spacing */
  --space-0: 0;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;

  /* Colors */
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-white: #fff;
  --color-black: #000;
  --color-error: #e74c3c;
  --color-warning: #f39c12;
  --color-info: #8e44ad;
  --color-bg: #f5f5f5;
  --color-muted: #aaa;
  --color-border: #ddd;

  /* Fonts */
  --font-primary: "Figtree", sans-serif;

  /* font sizes -- */
  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-21: 21px;
  --font-22: 22px;
  --font-24: 24px;
  --font-30: 30px;
  --font-32: 32px;

  /* Border Radius */
  --radius-none: 0;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-32: 32px;
  --radius-full: 9999px;

  /* Shadows */
  --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0px 8px 16px rgba(0, 0, 0, 0.3);

  /* Z-index */
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-50: 50;
  --z-100: 100;

  /* Transition */
  --transition-fast: 0.2s ease-in-out;
  --transition-normal: 0.4s ease-in-out;

  /* Widths */
  --container-width: 1200px;
  --container-padding: 16px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  color: var(--neutral-heading);
  background-color: var(--neutral-bg-alt);
}
