<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../global.css" />
    <title>SMK-Buttons</title>
  </head>
  <body>
    <div class="container">
      <h2 class="mt-16">Buttons</h2>

      <div class="pt-12">
        <button class="pbtn-40 pbtn-base-40">Primary(40px)</button>
        <button class="pbtn-outline-40 pbtn-base-40">Primary(40px)</button>
        <button class="pbtn-dis-40 pbtn-base-40">Primary(40px)</button>
      </div>

      <div class="pt-12">
        <button class="pbtn-36 pbtn-base-36">Primary(36px)</button>
        <button class="pbtn-outline-36 pbtn-base-36">Primary(36px)</button>
        <button class="pbtn-dis-36 pbtn-base-36">Primary(36px)</button>
      </div>

      <div class="pt-12">
        <button class="pbtn-32 pbtn-base-32">Primary(32px)</button>
        <button class="pbtn-outline-32 pbtn-base-32">Primary(32px)</button>
        <button class="pbtn-dis-32 pbtn-base-32">Primary(32px)</button>
      </div>
    </div>
  </body>
</html>
