/* Typography */
h1 {
  font-size: var(--font-32);
  line-height: 32px;
}

h2 {
  font-size: var(--font-24);
  line-height: 32px;
}

h3 {
  font-size: var(--font-21);
  line-height: 30px;
}

h4 {
  font-size: var(--font-18);
  line-height: 24px;
}

h5 {
  font-size: var(--font-16);
  line-height: 24px;
}
h6 {
  font-size: var(--font-14);
  line-height: 20px;
}

.b1 {
  font-size: var(--font-18);
  line-height: 24px;
}

.b2 {
  font-size: var(--font-16);
  line-height: 24px;
}

.b3 {
  font-size: var(--font-14);
  line-height: 22px;
}
.b4 {
  font-size: var(--font-12);
  line-height: 18px;
}

.btn-t-1 {
  font-size: var(--font-14);
  line-height: 20px;
}

.btn-t-2 {
  font-size: var(--font-12);
  line-height: 20px;
}

.c-t-1 {
  font-size: var(--font-12);
  line-height: 16px;
}

.c-t-2 {
  font-size: var(--font-10);
  line-height: 14px;
}

/* Font weights */
.w-300 {
  font-weight: 300;
}
.w-400 {
  font-weight: 400;
}
.w-500 {
  font-weight: 500;
}
.w-600 {
  font-weight: 600;
}
.w-700 {
  font-weight: 700;
}
.w-800 {
  font-weight: 800;
}
.w-900 {
  font-weight: 900;
}
.text-bold {
  font-weight: bold;
}
